{% extends 'base.html' %}

{% block body %}

   

  <!-- Navigation -->
  <header id="header">
    <div class="container-fluid">

      <div class="logo float-left">
        <h1 class="text-light"><a href="index.html"><span>CricBlog</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      
    </div>
  </header><!-- End #header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to CricBlog</h1>
      <h2>Connect with cricket freaks all over the world .</h2>

      <form role="form" class="php-email-form">
        <div class="text-center"><button type="submit" class="info">Sign in</button></div>
      </form>
    </div>
  </section><!-- #hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="/static/assets/img/commentary.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Think of yourself as a know-it-all ?</h3>
            <p class="font-italic">
              CricBlog is a platform where you discuss , provide insights and be an expert of the gentleman's game .
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i>Follow discussions of your favourite team .</li>
              <li><i class="bx bx-check-double"></i>Provide answers burning questions of world cricket . </li>
              <li><i class="bx bx-check-double"></i>Get your opinions hailed or critized by fellow experts from across the globe.</li>
            </ul>
            <p>
              Put your cricketing brain to work and step into the commentators's shoes . Match verdicts , strategies and even frustrated outbursts ; everything has a place here . 
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="card">
              <img src="/static/assets/img/sledging.jpeg" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="bx bxs-flame"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Fanbase banters</a></h5>
                <p class="card-text">Stick it to the opposition's fans in a healthy banter that would bring about a smile at the end of the day .</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="card">
              <img src="/static/assets/img/huddle.jpg" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="bx bx-news"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Engrossing blogs</a></h5>
                <p class="card-text">Have intriguing conversations with connoisseurs of the game and alleviate your play . </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="card">
              <img src="/static/assets/img/trophy2.jpg" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="bx bx-trophy"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Ranking system</a></h5>
                <p class="card-text">Your activity gains you points , your points determine your league , and the higher up you go , the more people your posts will reach . </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Frequenty Asked Questions Section ======= -->
    <section class="faq">
      <div class="container">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <ul class="faq-list">

          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq1">How it works ?<i class="bx bx-down-arrow-alt icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq1" class="collapse" data-parent=".faq-list">
              <p>
                Simply create an account with us , follow the topics that you hold dear and you are all set to go . Crack your knuckles and post away .
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed">Which posts do you see ?<i class="bx bx-down-arrow-alt icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq2" class="collapse" data-parent=".faq-list">
              <p>
                Primarily , your feed will contain all the posts that are related to the topics you follow , e.g your favourite team , player , league , etc . Occasionally you could see a post not conforming to that pattern , which you can choose not to see .
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">Are there any restrictions on number of posts ? <i class="bx bx-down-arrow-alt icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq3" class="collapse" data-parent=".faq-list">
              <p>
               Simply enough , NO . 
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq4" class="collapsed">How does the ranking system work ?<i class="bx bx-down-arrow-alt icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq4" class="collapse" data-parent=".faq-list">
              <p>
               Your activity on the website helps you to improve your rank . The more you participate in conversations , the more people react to your posts , the better your rank becomes . Your rank then in turn helps your posts to reach a wider audience .
              </p>
            </div>
          </li>

          

        </ul>

      </div>
    </section><!-- End Frequenty Asked Questions Section -->

    
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>CricBlog</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-landing-page/ -->
        Designed by <a href="#">Steve Maverick</a>
      </div>
    </div>
  </footer><!-- End #footer -->



{% endblock %}
